<div *ngIf="IsRequesting" class="fixed-top" style="width: 100%">
  <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
</div>

<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <div class="card-basic-content" *ngIf="UserInfo">
        <div class="container-fluid" style="padding: 0px; margin: 0px;">
          <div class="row">
            <div class="col-sm-8">
              <h2 style="font-weight: bolder">{{ UserInfo.fullName ? UserInfo.fullName : 'Not Available'}}</h2>
              <mat-chip-list>
                <mat-chip color="primary" selected="true">
                  <strong style="font-weight:bolder;">{{Bids?.length || '0'}}</strong> Bids</mat-chip>
                <mat-chip color="accent" selected="true">
                  <strong style="font-weight:bolder;">{{Posts?.length || '0'}}</strong> Posts</mat-chip>
              </mat-chip-list>
              <h5>{{ UserInfo.email ? UserInfo.email : 'Not Available'}}</h5>
              <h5>{{ UserInfo.phone ? UserInfo.phone : 'Not Available'}}</h5>
            </div>
            <div class="col-sm-4" style="text-align: right">
              <img class="rounded-circle" src="{{baseUrl+'/'}}{{UserInfo.image?UserInfo.image:'default.png'}}" alt="image">
            </div>
          </div>
        </div>
      </div>

      <div class="card-basic-content">
        <mat-tab-group>
          <mat-tab label="Info">
            <table class="table table-hover">

              <tbody *ngIf="UserInfo">
                <tr>
                  <td>
                    <strong>City</strong>
                  </td>
                  <td>{{ UserInfo.cityName ? UserInfo.cityName : 'Not Available'}}</td>
                </tr>

                <tr>
                  <td>
                    <strong>Post-Code</strong>
                  </td>
                  <td>{{ UserInfo.postCode ? UserInfo.postCode : 'Not Available'}}</td>
                </tr>

                <tr>
                  <td>
                    <strong>Address</strong>
                  </td>
                  <td>{{ UserInfo.address ? UserInfo.address : 'Not Available'}}</td>
                </tr>

              </tbody>
            </table>
          </mat-tab>

          <mat-tab label="Posts">

            <mat-list *ngIf="Posts">
              <mat-list-item *ngFor="let post of Posts">
                <h3 mat-line style="font-weight: bolder">{{post.productName}}</h3>
                <p mat-line> {{post.startDateTime | date}}
                  <strong> To </strong>{{post.endDateTime | date}} </p>
                <a [routerLink]="['../../','product',post.postId]">
                  <mat-icon color="accent" mat-list-icon>visibility</mat-icon>
                </a>
              </mat-list-item>
            </mat-list>

          </mat-tab>

          <mat-tab label="Bids">
            <mat-list *ngIf="Bids">
              <mat-list-item *ngFor="let bid of Bids">
                <h3 mat-line style="font-weight: bolder">{{bid.productName}}</h3>
                <p mat-line>
                  <strong>Amount:</strong>{{bid.bidPrice}}
                  <strong>Auction End At</strong> {{bid.bidEndTime | date}} </p>
                <a [routerLink]="['../../','product',bid.productId]">
                  <mat-icon color="primary" mat-list-icon>visibility</mat-icon>
                </a>
              </mat-list-item>
            </mat-list>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
