<div class="container">
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-sm-4 offset-sm-4" style="padding: 0px;">
            <mat-card class="signin-card">
                <mat-card-content>
                    <div class="card-basic-content">
                        <h2 class="font-weight-bold">Welcome</h2>
                    </div>

                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="email">
                        </mat-form-field>
                        
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="password">
                        </mat-form-field>

                        <button type="submit" mat-raised-button color="accent" class="form-button">SignIn</button>
                    </form>
                </mat-card-content>

                <mat-card-footer class="card-basic-content">
                    <p>Don’t have an account? <a href="signup">Sign Up</a></p>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>