.productAdd-card{
    width: 100%;
    border-radius: 10px;
}
.card-basic-content{
    padding: 30px 0px;
    text-align: center;
    color: black;
}
.example-full-width {
    font-size: 14px;
    width: 100%;
    margin: 4px 0px;
}
.form-button{
    width: 50%;
    font-size: 18px;
    padding: 4px 0px;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 20px;
}
textarea
{
    min-height: 100px;
}
.form-control-file
{
    height: 30px;
    color: white;
}
.errorClass
{
    color: red;
    font-size: 11px;
}