<div *ngIf="IsRequesting" class="fixed-top" style="width: 100%"><mat-progress-bar color="primary"  mode="indeterminate"></mat-progress-bar></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3" style="padding: 0px;">
        <mat-card class="productAdd-card">
            <div class="card-basic-content">
                <h2 class="font-weight-bold">Add Product</h2>
            </div>
            <mat-card-content>
                <form class="example-form" [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Product Name" formControlName="ProductName">
                                <mat-error *ngIf="productForm.controls.ProductName.hasError('required')">Name field is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Product Quantity" formControlName="Quantity">
                                <mat-error *ngIf="productForm.controls.Quantity.hasError('required')">Quantity field is required</mat-error>
                                <mat-error *ngIf="productForm.controls.Quantity.hasError('min')">Quantity should be minimum 1</mat-error>
                                <mat-error *ngIf="productForm.controls.Quantity.hasError('max')">Quantity should be maximum 100000</mat-error>
                                <mat-error *ngIf="productForm.controls.Quantity.hasError('pattern')">Quantity should only include numbers</mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Product Description" formControlName="ProductDescription"></textarea>
                                <mat-error *ngIf="productForm.controls.ProductDescription.hasError('required')">Product Description field is required</mat-error>
                                <mat-error *ngIf="productForm.controls.ProductDescription.hasError('maxlength')">Product Description should be atmost 1000 characteres long</mat-error>
                            </mat-form-field>
                        </div>
                     
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Base Price" formControlName="BasePrice">
                                <mat-error *ngIf="productForm.controls.BasePrice.hasError('required')">Base Price field is required</mat-error>
                                <mat-error *ngIf="productForm.controls.BasePrice.hasError('min')">Base Price should be minimum 1</mat-error>
                                <mat-error *ngIf="productForm.controls.BasePrice.hasError('max')">Base Price should be maximum 10000000</mat-error>
                                <mat-error *ngIf="productForm.controls.BasePrice.hasError('pattern')">Base Price should only include decimal numbers</mat-error>
                            </mat-form-field>
                        </div>
                     
                      <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Contact Info" formControlName="ContactInfo">
                            <mat-error *ngIf="productForm.controls.ContactInfo.hasError('required')">Contact Info field is required</mat-error>
                            <mat-error *ngIf="productForm.controls.ContactInfo.hasError('maxlength')">Contact Info should be atmost 1000 characteres long</mat-error>
                        </mat-form-field>
                      </div>

                      
                      <div class="col-md-6">
                          <mat-form-field class="example-full-width" >
                              <mat-select placeholder="Category" formControlName="CategoryId">
                                    <mat-option *ngFor="let category of categories" [value] ="category.id">{{category.categoryName}}</mat-option>
                              </mat-select>
                              <mat-error *ngIf="productForm.controls.CategoryId.hasError('required')">Select a category</mat-error>
                          </mat-form-field>       
                      </div>

                      <div class="col-md-6">
                          <mat-form-field  class="example-full-width">
                              <mat-select placeholder="City" formControlName="CityId">
                                <mat-option *ngFor="let city of cities" [value] ="city.id">{{city.cityName}}</mat-option>
                              </mat-select>
                              <mat-error *ngIf="productForm.controls.CityId.hasError('required')">Select a city</mat-error>
                          </mat-form-field>       
                        </div>
                      
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <input matInput disabled placeholder="Bid Start Time" value="{{this.productForm.controls.StartDateTime.value}}">
                        </mat-form-field>
                        <dl-date-time-picker formControlName="StartDateTime"></dl-date-time-picker>
                        <mat-error *ngIf="productForm.controls.StartDateTime.hasError('required') && (productForm.controls.StartDateTime.dirty || productForm.controls.StartDateTime.touched)">Select a time</mat-error>
                        <mat-error *ngIf="(productForm.controls.StartDateTime.dirty || productForm.controls.StartDateTime.touched) && productForm.controls.StartDateTime.hasError('startDateValid')">Please enter a valid Start ate</mat-error>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                                <input matInput disabled placeholder="Bid End Time" value="{{this.productForm.controls.EndDateTime.value}}">
                        </mat-form-field>
                        <dl-date-time-picker formControlName="EndDateTime"></dl-date-time-picker>
                        <mat-error *ngIf="productForm.controls.EndDateTime.hasError('required') && (productForm.controls.EndDateTime.dirty || productForm.controls.EndDateTime.touched)">Select a time</mat-error>
                        <mat-error *ngIf="productForm.controls.EndDateTime.hasError('endDateValid')">Please enter a Date greater than Start Date</mat-error>
                      </div>
                      
                      <div class="col-md-12">
                          <ng-select class="form-control"
                          [items]="tags"
                          bindLabel="tagName"
                          bindValue="id"
                          [multiple]="true"
                          placeholder="Select Tags"
                          clearAllText="Clear"
                          formControlName="Tags">
                          </ng-select>
                          <div *ngIf = "productForm.controls.Tags.hasError('required') && (productForm.controls.Tags.dirty || productForm.controls.Tags.touched)" class="errorClass">
                                <p>Select At Least one tag</p>
                          </div>
                      </div>
                    <br>
                    <br>
                    <br>

                      <div class="col-md-12">
                          <div class="custom-file">
                              <input type="file" class="custom-file-input" id="Image" (change)="onFileSelected($event)" formControlName="Image" multiple>
                              <label *ngIf = "!imageCount" class="custom-file-label" for="customFile">Choose image</label>
                              <label *ngIf = "imageCount" class="custom-file-label" for="customFile">{{imageCount}} image selected</label>
                            </div>
                            <div *ngIf = "productForm.controls.Image.hasError('required') && (productForm.controls.Image.dirty || productForm.controls.Image.touched)" class="errorClass">
                                    <p *ngIf = "!imageCount">Select At Least one Image to At Most 4 Image</p>
                              </div>
                              <div *ngIf = "productForm.controls.Image.hasError('imageExceed') && (productForm.controls.Image.dirty || productForm.controls.Image.touched)" class="errorClass">
                                    <p>At most 4 image</p>
                              </div>
                      </div>

                      <mat-card-footer>
                          <div class="row">
                              <div class="col-sm-7 offset-sm-4">
                                  <button
                                   type="submit" mat-raised-button color="accent" class="form-button">Post</button>
                              </div>
                          </div>
                      </mat-card-footer>
                      </div>
                    </form>
              </mat-card-content>
        </mat-card>
    </div>
</div>