<div *ngIf="IsRequesting" class="fixed-top" style="width: 100%"><mat-progress-bar color="primary"  mode="indeterminate"></mat-progress-bar></div>

<div class="container">
    <br>
    <br>
    <div class="row">
      
      <div class="col-sm-10 offset-sm-1">
        <h3 style="font-weight: bolder"> <i>Edit Profile</i></h3>
        <hr>
        <br>
        <div class="row">
          <div class="col-sm-4 text-center">
            <img *ngIf="UserInfo" class="rounded-circle" src="{{baseUrl+'/'}}{{UserInfo.image?UserInfo.image:'default.png'}}" alt="image">
            <hr>
            <div class="custom-file">
              <input (change)="onFileSelected($event)" type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <button [disabled]='!isFileValid' mat-raised-button color="primary" class="form-button" (click)="setAvatar()">Save it As Avatar </button>
          </div>
          <div class="col-sm-8">
            <form class="example-form" [formGroup]="ProfileForm" (ngSubmit)="onSubmit()" novalidate>
                <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Full Name" [formControl]="FullName" value="{{UserInfo?.fullName}}">
                  <mat-hint>Enter Full name!</mat-hint>
                  <mat-error *ngIf="FullName.hasError('required')">Full Name fileld is required</mat-error>
                  <mat-error *ngIf="FullName.hasError('maxlength')">Full Name atmost 49 charactes long.</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" *ngIf="AllCity">
                    <mat-select placeholder="City" [formControl]="City" [(value)]="cityId" >
                      <mat-option *ngFor="let city of AllCity" [value]="city.id" >{{city.cityName}}</mat-option>
                    </mat-select>
                    <mat-hint>Select City!</mat-hint>
                    <mat-error *ngIf="City.hasError('required')">City fileld is required</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Post-Code" [formControl]="PostCode" value="{{UserInfo?.postCode}}">
                    <mat-hint>Enter Post-Code!</mat-hint>
                    <mat-error *ngIf="PostCode.hasError('required')">Post-Code fileld is required</mat-error>
                    <mat-error *ngIf="PostCode.hasError('maxlength')">Post-Code atmost 19 charactes long.</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Enter address" [formControl]="Address" value="{{UserInfo?.address}}"></textarea>
                  <mat-hint>Enter Address!</mat-hint>
                  <mat-error *ngIf="Address.hasError('required')">Address fileld is required</mat-error>
                  <mat-error *ngIf="Address.hasError('maxlength')">Address atmost 499 charactes long.</mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="tel" placeholder="Phone" value="{{UserInfo?.phone}}" [formControl]="Phone">
                    <mat-hint>Enter Phone!</mat-hint>
                    <mat-error *ngIf="Phone.hasError('required')">Phone fileld is required</mat-error>
                    <mat-error *ngIf="Phone.hasError('maxlength')">Phone atmost 49 charactes long.</mat-error>
                </mat-form-field>
                <br>
                <button [disabled]='!ProfileForm.valid' type="submit" mat-raised-button color="warn">Save</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  