<div *ngIf="IsRequesting" class="fixed-top" style="width: 100%"><mat-progress-bar color="primary"  mode="indeterminate"></mat-progress-bar></div>
<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <mat-card class="signin-card">
        <mat-card-content>
          <div class="card-basic-content">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Tag Name</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tag of  tags; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{tag.tagName}}</td>
                  <td>
                    <button (click)="deleteButton(tag.id)" color="warn" mat-button>
                      <i class="material-icons">delete</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <hr>
            <form [formGroup]="tagForm" class="example-form" (ngSubmit)= "submitTag()" >
                <mat-form-field class="example-full-width">
                  <input formControlName="TagName" type="text" matInput placeholder="New Tag">
                  <mat-error *ngIf="tagForm.controls.TagName.hasError('required')">Tag field is required</mat-error>
                  <mat-error *ngIf="tagForm.controls.TagName.hasError('minlength')">Tag should be minimum 3 length</mat-error>
                  <mat-error *ngIf="tagForm.controls.TagName.hasError('maxlength')">Tag should be maximum 20 length</mat-error>
                </mat-form-field>
                <button [disabled]='!tagForm.valid' type="submit" color="primary" mat-raised-button>
                    <i class="material-icons">check_circle</i>
                  </button>
              </form>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>
