<div *ngIf="IsRequesting" class="fixed-top" style="width: 100%"><mat-progress-bar color="primary"  mode="indeterminate"></mat-progress-bar></div>
<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <mat-card class="signin-card">
        <mat-card-content>
          <div class="card-basic-content">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Category Name</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cat of  category; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{cat.categoryName}}</td>
                  <td>
                    <button (click)="deleteButton(cat.id)" color="warn" mat-button>
                      <i class="material-icons">delete</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <hr>
            <form class="example-form" [formGroup]="categoryForm" class="example-form" (ngSubmit)="submitCategory()">
                <mat-form-field class="example-full-width">
                  <input formControlName="CategoryName" type="text" matInput placeholder="New Category">
                  <mat-hint>Errors appear instantly!</mat-hint>
                  <mat-error *ngIf="categoryForm.controls.CategoryName.hasError('required')">Category field is required</mat-error>
                  <mat-error *ngIf="categoryForm.controls.CategoryName.hasError('minlength')">Category should be minimum 3 length</mat-error>
                  <mat-error *ngIf="categoryForm.controls.CategoryName.hasError('maxlength')">Category should be maximum 20 length</mat-error>
                </mat-form-field>
                <button [disabled]='!categoryForm.valid' type="submit" color="primary" mat-raised-button>
                    <i class="material-icons">check_circle</i>
                  </button>
              </form>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>
