<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                Categories
              </mat-expansion-panel-header>
              <mat-panel-description>  
                  <mat-list role="list">
                      <mat-list-item role="listitem"><a href="#">T-shirt </a> &nbsp;<small>(512)</small></mat-list-item>
                      <mat-list-item role="listitem"><a href="#">Pant </a> &nbsp;<small>(512)</small></mat-list-item>
                      <mat-list-item role="listitem"><a href="#">Watch </a> &nbsp;<small>(512)</small></mat-list-item>
                  </mat-list>
              </mat-panel-description>
            </mat-expansion-panel>
    
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                City
              </mat-expansion-panel-header>
              <mat-panel-description>
                  <mat-list role="list">
                    <mat-list-item role="listitem"><a href="#">Rajshahi </a> &nbsp;<small>(512)</small></mat-list-item>
                    <mat-list-item role="listitem"><a href="#">Khunla </a> &nbsp;<small>(512)</small></mat-list-item>
                    <mat-list-item role="listitem"><a href="#">Dhaka </a> &nbsp;<small>(512)</small></mat-list-item>
                  </mat-list>
              </mat-panel-description>
            </mat-expansion-panel>
    
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Country
              </mat-expansion-panel-header>
              <mat-panel-description>
                  <mat-list role="list">
                      <mat-list-item role="listitem"><a href="#">Bangladesh </a> &nbsp;<small>(512)</small></mat-list-item>
                      <mat-list-item role="listitem"><a href="#">India </a> &nbsp;<small>(512)</small></mat-list-item>
                      <mat-list-item role="listitem"><a href="#">Nepal </a> &nbsp;<small>(512)</small></mat-list-item>
                  </mat-list>
              </mat-panel-description>
            </mat-expansion-panel>
     </div>

     <!--    Left-category-end -->

    <div class="col-sm-10">


        <div class="row">
            <div class="col-sm-3">
              <div class="basic-product-container">
                <div class="product-image-container">
                  <img class="rounded mx-auto d-block" src="assets/RakulPreet.jpg" alt="product">
                </div>
                <div class="product-info-container">
                  <h6>Current Price: 123</h6>
                  <h6>Leader: <a href="#">JKM</a></h6>
                  <h4 class="alert-info text-center" style="font-weight: bolder;"><countdown-timer [end]="'2018-05-29 00:00:00'"></countdown-timer></h4>
                </div>
                <div class="text-center">
                  <a color="primary" mat-raised-button routerLink="#">BidNow</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
                <div class="basic-product-container">
                  <div class="product-image-container">
                    <img class="rounded mx-auto d-block" src="assets/RakulPreet.jpg" alt="product">
                  </div>
                  <div class="product-info-container">
                    <h6>Current Price: 123</h6>
                    <h6>Leader: <a href="#">JKM</a></h6>
                    <h4 class="alert-info text-center" style="font-weight: bolder;"><countdown-timer [end]="'2018-05-29 00:00:00'"></countdown-timer></h4>
                  </div>
                  <div class="text-center">
                    <a color="primary" mat-raised-button routerLink="#">BidNow</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="basic-product-container">
                  <div class="product-image-container">
                    <img class="rounded mx-auto d-block" src="assets/RakulPreet.jpg" alt="product">
                  </div>
                  <div class="product-info-container">
                    <h6>Current Price: 123</h6>
                    <h6>Leader: <a href="#">JKM</a></h6>
                    <h4 class="alert-info text-center" style="font-weight: bolder;"><countdown-timer [end]="'2018-05-29 00:00:00'"></countdown-timer></h4>
                  </div>
                  <div class="text-center">
                    <a color="primary" mat-raised-button routerLink="#">BidNow</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                  <div class="basic-product-container">
                    <div class="product-image-container">
                      <img class="rounded mx-auto d-block" src="assets/RakulPreet.jpg" alt="product">
                    </div>
                    <div class="product-info-container">
                      <h6>Current Price: 123</h6>
                      <h6>Leader: <a href="#">JKM</a></h6>
                      <h4 class="alert-info text-center" style="font-weight: bolder;"><countdown-timer [end]="'2018-05-29 00:00:00'"></countdown-timer></h4>
                    </div>
                    <div class="text-center">
                      <a color="primary" mat-raised-button routerLink="#">BidNow</a>
                    </div>
                  </div>
                </div>
          </div>


          <div class="row">
              <div class="col-sm-3">
                <div class="basic-product-container">
                  <div class="product-image-container">
                    <img class="rounded mx-auto d-block" src="assets/RakulPreet.jpg" alt="product">
                  </div>
                  <div class="product-info-container">
                    <h6>Current Price: 123</h6>
                    <h6>Leader: <a href="#">JKM</a></h6>
                    <h4 class="alert-info text-center" style="font-weight: bolder;"><countdown-timer [end]="'2018-05-29 00:00:00'"></countdown-timer></h4>
                  </div>
                  <div class="text-center">
                    <a color="primary" mat-raised-button routerLink="#">BidNow</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                  <div class="basic-product-container">
                    <div class="product-image-container">
                      <img class="rounded mx-auto d-block" src="assets/RakulPreet.jpg" alt="product">
                    </div>
                    <div class="product-info-container">
                      <h6>Current Price: 123</h6>
                      <h6>Leader: <a href="#">JKM</a></h6>
                      <h4 class="alert-info text-center" style="font-weight: bolder;"><countdown-timer [end]="'2018-05-29 00:00:00'"></countdown-timer></h4>
                    </div>
                    <div class="text-center">
                      <a color="primary" mat-raised-button routerLink="#">BidNow</a>
                    </div>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="basic-product-container">
                    <div class="product-image-container">
                      <img class="rounded mx-auto d-block" src="assets/RakulPreet.jpg" alt="product">
                    </div>
                    <div class="product-info-container">
                      <h6>Current Price: 123</h6>
                      <h6>Leader: <a href="#">JKM</a></h6>
                      <h4 class="alert-info text-center" style="font-weight: bolder;"><countdown-timer [end]="'2018-05-29 00:00:00'"></countdown-timer></h4>
                    </div>
                    <div class="text-center">
                      <a color="primary" mat-raised-button routerLink="#">BidNow</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                    <div class="basic-product-container">
                      <div class="product-image-container">
                        <img class="rounded mx-auto d-block" src="assets/RakulPreet.jpg" alt="product">
                      </div>
                      <div class="product-info-container">
                        <h6>Current Price: 123</h6>
                        <h6>Leader: <a href="#">JKM</a></h6>
                        <h4 class="alert-info text-center" style="font-weight: bolder;"><countdown-timer [end]="'2018-05-29 00:00:00'"></countdown-timer></h4>
                      </div>
                      <div class="text-center">
                        <a color="primary" mat-raised-button routerLink="#">BidNow</a>
                      </div>
                    </div>
                  </div>
            </div>

          

            <div class="row">
                <div class="col-sm-3">
                  <div class="basic-product-container">
                    <div class="product-image-container">
                      <img class="rounded mx-auto d-block" src="assets/RakulPreet.jpg" alt="product">
                    </div>
                    <div class="product-info-container">
                      <h6>Current Price: 123</h6>
                      <h6>Leader: <a href="#">JKM</a></h6>
                      <h4 class="alert-info text-center" style="font-weight: bolder;"><countdown-timer [end]="'2018-05-29 00:00:00'"></countdown-timer></h4>
                    </div>
                    <div class="text-center">
                      <a color="primary" mat-raised-button routerLink="#">BidNow</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                    <div class="basic-product-container">
                      <div class="product-image-container">
                        <img class="rounded mx-auto d-block" src="assets/RakulPreet.jpg" alt="product">
                      </div>
                      <div class="product-info-container">
                        <h6>Current Price: 123</h6>
                        <h6>Leader: <a href="#">JKM</a></h6>
                        <h4 class="alert-info text-center" style="font-weight: bolder;"><countdown-timer [end]="'2018-05-29 00:00:00'"></countdown-timer></h4>
                      </div>
                      <div class="text-center">
                        <a color="primary" mat-raised-button routerLink="#">BidNow</a>
                      </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="basic-product-container">
                      <div class="product-image-container">
                        <img class="rounded mx-auto d-block" src="assets/RakulPreet.jpg" alt="product">
                      </div>
                      <div class="product-info-container">
                        <h6>Current Price: 123</h6>
                        <h6>Leader: <a href="#">JKM</a></h6>
                        <h4 class="alert-info text-center" style="font-weight: bolder;"><countdown-timer [end]="'2018-05-29 00:00:00'"></countdown-timer></h4>
                      </div>
                      <div class="text-center">
                        <a color="primary" mat-raised-button routerLink="#">BidNow</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="basic-product-container">
                        <div class="product-image-container">
                          <img class="rounded mx-auto d-block" src="assets/RakulPreet.jpg" alt="product">
                        </div>
                        <div class="product-info-container">
                          <h6>Current Price: 123</h6>
                          <h6>Leader: <a href="#">JKM</a></h6>
                          <h4 class="alert-info text-center" style="font-weight: bolder;"><countdown-timer [end]="'2018-05-29 00:00:00'"></countdown-timer></h4>
                        </div>
                        <div class="text-center">
                          <a color="primary" mat-raised-button routerLink="#">BidNow</a>
                        </div>
                      </div>
                    </div>
              </div>

            

              <div class="row">
                  <div class="col-sm-3">
                    <div class="basic-product-container">
                      <div class="product-image-container">
                        <img class="rounded mx-auto d-block" src="assets/RakulPreet.jpg" alt="product">
                      </div>
                      <div class="product-info-container">
                        <h6>Current Price: 123</h6>
                        <h6>Leader: <a href="#">JKM</a></h6>
                        <h4 class="alert-info text-center" style="font-weight: bolder;"><countdown-timer [end]="'2018-05-29 00:00:00'"></countdown-timer></h4>
                      </div>
                      <div class="text-center">
                        <a color="primary" mat-raised-button routerLink="#">BidNow</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="basic-product-container">
                        <div class="product-image-container">
                          <img class="rounded mx-auto d-block" src="assets/RakulPreet.jpg" alt="product">
                        </div>
                        <div class="product-info-container">
                          <h6>Current Price: 123</h6>
                          <h6>Leader: <a href="#">JKM</a></h6>
                          <h4 class="alert-info text-center" style="font-weight: bolder;"><countdown-timer [end]="'2018-05-29 00:00:00'"></countdown-timer></h4>
                        </div>
                        <div class="text-center">
                          <a color="primary" mat-raised-button routerLink="#">BidNow</a>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="basic-product-container">
                        <div class="product-image-container">
                          <img class="rounded mx-auto d-block" src="assets/RakulPreet.jpg" alt="product">
                        </div>
                        <div class="product-info-container">
                          <h6>Current Price: 123</h6>
                          <h6>Leader: <a href="#">JKM</a></h6>
                          <h4 class="alert-info text-center" style="font-weight: bolder;"><countdown-timer [end]="'2018-05-29 00:00:00'"></countdown-timer></h4>
                        </div>
                        <div class="text-center">
                          <a color="primary" mat-raised-button routerLink="#">BidNow</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="basic-product-container">
                          <div class="product-image-container">
                            <img class="rounded mx-auto d-block" src="assets/RakulPreet.jpg" alt="product">
                          </div>
                          <div class="product-info-container">
                            <h6>Current Price: 123</h6>
                            <h6>Leader: <a href="#">JKM</a></h6>
                            <h4 class="alert-info text-center" style="font-weight: bolder;"><countdown-timer [end]="'2018-05-29 00:00:00'"></countdown-timer></h4>
                          </div>
                          <div class="text-center">
                            <a color="primary" mat-raised-button routerLink="#">BidNow</a>
                          </div>
                        </div>
                      </div>
                </div>

              
    </div>
  </div>
</div>
